<h1>Loja</h1>
<p>Selecione uma das opçoes abaixo.</p>
<a href="/produtos/lista">lista produtos</a>
<a href="/produtos/cadastro">cadastro produtos</a>
<a href="/produtos/pesquisar">pesquisar produtos</a>

</div>