<h1>Loja</h1>
<p>Selecione uma das opçoes abaixo.</p>
<div class="container">
    
    <button type="submit"> <a href="/produtos/lista">lista produtos</a>
    </button>
    <button type="submit"> <a href="/produtos/cadastro">cadastro produtos</a>
    </button>
    <button type="submit"> <a href="/produtos/pesquisar" type="button">pesquisar produtos</a>
    </button>
    <button type="submit"> <a href="/pedidos">pedidos</a>
    </button>

</div>


</div>